@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Lora&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 25px;
  font-family: 'Source Sans 3', sans-serif;
  background-color: white;
  color: black;
  user-select: none;
}

.title-container{
    width: 100%;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.title-container img{
    width: 100%;
    margin: 0;
    object-fit: cover;
    display: block;
}

.title-container h1{
    color: white;
    font-family: 'Archivo Black';
    font-weight: 900;
    font-size: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-container em{
  margin-right: 60px;
}

.title-container p{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-beans {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'Lora', serif;
  font-weight: bold;
}

.top-beans h1 {
  font-size: 40px;
  margin-left: 10px;
}

.top-beans a{
  color: white;
  font-size: 7px;
  position: absolute;
  right: 1%;
  top: 1%;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  padding: 0 5px;
  transition: transform 0.3s ease;
}

.navbar a:hover{
  transform: scale(1.2);
}


.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
}

.title-bar{
    width: 100%
}

.spacer {
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    height: 50px;
}

.spacer h1{
    display: inline-block;
    color: white;
    margin: 0;
    margin-left: 20px;
    font-size: 40px;
    font-family: Helvetica !important; *HELVETICA DOESNT WORKKKK*
}

.spacer a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}

.sidebar{
  background-color: black;
  padding: 30px;
}

.sidebar img{
    width: 100%;
    margin: 0;
    overflow: hidden;
  border-radius: 25px;
}

.main-content{
  padding: 30px;
  background-color: black;
}

.main-content h2{
    margin: 0;
    font-family: garamond;
    font-size: 50px;
    color: white;
}

.main-content p{
    font-size: 20px;
    font-family: Helvetica;
    color: white;
}

.sources-container{
  padding: 30px;
  color: white;
  font-size: 20px;
  height: 900px;
  margin: 20px;
  border-radius: 25px;
  background-color: rgb(40, 40, 40)
}

.sources-container h1{
  font-size: 60px;
}
